In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [2]:
with open('/home/mmayers/.my.cnf') as fin:
    for line in fin:
        if line.startswith('password'):
            pw=line.strip().split('=')[-1].strip("'")

In [3]:
engine = create_engine('mysql+pymysql://root:'+pw+'@localhost/semmed_db', echo=False)

In [4]:
cit_df = pd.read_sql('SELECT * FROM CITATIONS LIMIT 10;', con=engine)
cit_df

       PMID       ISSN           DP        EDAT  PYEAR
0         1  0006-2944     1975 Jun  1976 01 16   1975
1        10  0006-2952   1975 Sep 1  1976 01 23   1975
2       100  0547-6844         1975  1976 03 01   1975
3      1000  0264-6021     1975 Sep  1976 02 21   1975
4     10000  0006-3002  1976 Sep 28  1976 12 30   1976
5    100000  0160-3450     1978 Sep  1978 11 18   1978
6   1000000  0006-3363     1976 Dec  1977 02 16   1976
7  10000000  0163-1829  1991 Aug 15   1991-8-15   1991
8  10000001  0163-1829  1991 Aug 15   1991-8-15   1991
9  10000002  0163-1829  1991 Aug 15   1991-8-15   1991

In [5]:
gc_df = pd.read_sql('SELECT * FROM GENERIC_CONCEPT LIMIT 10;', con=engine)
gc_df

   CONCEPT_ID       CUI                       PREFERRED_NAME
0        1352  C0000788                  Abortion Applicants
1        1353  C0000937                           Accountant
2        1354  C0001687                  Adverse effects NEC
3        1355  C0002526  Amino Acids, Peptides, and Proteins
4        1356  C0002905             Anesthesia and Analgesia
5        1357  C0003043                             Animalia
6        1358  C0003062                              Animals
7        1359  C0003650                              Apudoma
8        1360  C0003965                           Ascomycota
9        1361  C0004063                              Assault

In [6]:
meta_df = pd.read_sql('SELECT * FROM METAINFO LIMIT 10;', con=engine)
meta_df

  DBVERSION SEMREPVERSION PUBMED_TODATE                   COMMENT
0       3.0           1.7    2016/12/31  Using regular semrep 1.7

In [7]:
pred_df = pd.read_sql('SELECT * FROM PREDICATION LIMIT 10;', con=engine)
pred_df

,PREDICATION_ID,SENTENCE_ID,PMID,PREDICATE,SUBJECT_CUI,SUBJECT_NAME,SUBJECT_SEMTYPE,SUBJECT_NOVELTY,OBJECT_CUI,OBJECT_NAME,OBJECT_SEMTYPE,OBJECT_NOVELTY
0,117370,248182,5585326,PROCESS_OF,C0021311,Infection,dsyn,0,C0020114,Human,humn,1
1,117371,248189,5659339,PART_OF,C0017725,Glucose,bacs,1,C0022378,jejunum,bpoc,1
2,117372,248189,5659339,PROCESS_OF,C0232338,Blood flow,orgf,1,C0012984,Canis familiaris,mamm,1
3,117373,248198,5659341,TREATS,C0001041,Acetylcholine,phsu,1,C0012984,Canis familiaris,mamm,1
4,117374,248200,4869506,LOCATION_OF,C0445623,Microorganism,orgm,0,C0142281,Siderophores,orch,1
5,117375,248201,4176301,LOCATION_OF,C0229671,Serum,bdsu,1,C0021027,Immunoglobulins,aapp,1
6,117376,248202,5659342,PART_OF,C0021853,Intestines,bpoc,1,C0034693,Rattus norvegicus,mamm,1
7,117377,248201,4176301,DIAGNOSES,C0231790,Thompson's test,diap,1,C0005830,Blood Protein Disorders,dsyn,1
8,117378,248208,5659343,PROCESS_OF,C0232750,Bile formation,ortf,1,C0085979,Cavia,mamm,1
9,117379,248207,4171713,INTERACTS_WITH,C0005097,Benzpyrene,hops,1,C0020242,Hydrocarbons,orch,1

In [8]:
paux_df = pd.read_sql('SELECT * FROM PREDICATION_AUX LIMIT 10;', con=engine)
paux_df

,PREDICATION_AUX_ID,PREDICATION_ID,SUBJECT_TEXT,SUBJECT_DIST,SUBJECT_MAXDIST,SUBJECT_START_INDEX,SUBJECT_END_INDEX,SUBJECT_SCORE,INDICATOR_TYPE,PREDICATE_START_INDEX,PREDICATE_END_INDEX,OBJECT_TEXT,OBJECT_DIST,OBJECT_MAXDIST,OBJECT_START_INDEX,OBJECT_END_INDEX,OBJECT_SCORE,CURR_TIMESTAMP
0,117377,117370,infections,0,0,158,168,888,MOD/HEAD,152,168,Human,0,0,152,157,888,2016-11-01 13:02:30
1,117378,117371,glucose,1,2,220,227,861,PREP,204,208,jejunum,1,3,196,203,1000,2016-11-01 13:02:30
2,117379,117372,blood flow,4,4,161,171,901,PREP,228,230,dogs,1,1,237,241,1000,2016-11-01 13:02:30
3,117380,117373,acetylcholine,4,5,161,174,1000,PREP,227,229,dogs,1,1,236,240,1000,2016-11-01 13:02:30
4,117381,117374,microorganisms,1,1,187,201,1000,PREP,184,186,Siderochrome,2,2,151,163,966,2016-11-01 13:02:30
5,117382,117375,serum,0,0,274,279,623,MOD/HEAD,274,294,immunoglobulin,0,0,280,294,623,2016-11-01 13:02:30
6,117383,117376,intestine,0,0,236,245,888,MOD/HEAD,226,245,rat,0,0,226,229,888,2016-11-01 13:02:30
7,117384,117377,Thompson test,1,2,167,180,1000,NOM,188,197,blood protein disorders,1,4,201,224,1000,2016-11-01 13:02:30
8,117385,117378,Bile formation,1,1,150,164,1000,PREP,165,167,guinea pigs,1,4,168,179,1000,2016-11-01 13:02:30
9,117386,117379,benzpyrene,3,4,212,222,861,NOM,150,156,hydrocarbons,1,4,166,178,1000,2016-11-01 13:02:30

In [9]:
sent_df = pd.read_sql('SELECT * FROM SENTENCE LIMIT 10;', con=engine)
sent_df

,SENTENCE_ID,PMID,TYPE,NUMBER,SENTENCE
0,248180,5585325,ti,1,Mycoecology of willow and cottonwood lowland c...
1,248181,5585325,ti,2,Soil microfungi in the willow-cottonwood forests.
2,248182,5585326,ti,1,Human infections by Microsporon gypseum in Rom...
3,248183,5585327,ti,1,Environmental factors and growth of Histoplasm...
4,248184,4971605,ti,1,[On the fungistatic and barteriostatic propert...
5,248185,5585328,ti,1,Geophilic dermatophytes recovered from Rio Gra...
6,248186,5585329,ti,1,Effects of surface active agents on the suscep...
7,248187,4971606,ti,1,[Correlation between chemical constitution and...
8,248188,5585330,ti,1,T. mentagrophytes with macroconidia and spiral...
9,248189,5659339,ti,1,Intestinal blood flow during perfusion of the ...

In [10]:
%%time
pred_df1 = pd.read_sql('SELECT * FROM PREDICATION LIMIT 1000000;', con=engine)

CPU times: user 48.5 s, sys: 612 ms, total: 49.1 s
Wall time: 49 s

In [11]:
'{:,}'.format(pred_df1.shape[0])

'1,000,000'